<div class="show-game">
  <div class="game-list">
    <h1><%= @list.name %></h1>
    <% @list.games.each do |game| %>
      <div class="game-details">
        <%= image_tag game.cover_url, alt: "cover" %>
        <div class="game-info" data-controller="replace-bought-button">
          <h6><%= game.title %></h6>
          <%= link_to "bought", replace_button_path(game_id: game.id, bookmark: @bookmarks.where(game: game)), data: { turbo_method: :post }, id: "replace-#{game.id}" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
