<% if @game.bookmark(current_user) != nil && @game.bookmark(current_user).notes != nil %>
  <div class="bookmark-info">
    <div class="flex-boy">
      Notes:
      <br>
      <%= @game.bookmark(current_user).notes %>
    </div>
  </div>
<% end %>
