<div class="flex-flex">
  <div class="show-game">
    <div class="game-list">
      <h1>Wishlist</h1>
      <% if current_user.bookmarks.where(wishlist: true) != [] %>
        <% current_user.games.each do |game| %>
          <% if game.bookmark(current_user).wishlist == true %>
            <div class="game-details" id="game-<%=game.id%>">
              <%= image_tag game.cover_url, alt: "cover" %>
              <div class="game-info" data-controller="replace-bought-button">
                <h4><%= game.title %></h4>
                <%= link_to "bought", replace_button_path(game_id: game.id, bookmark: @bookmarks.where(game: game)), data: { turbo_method: :post }, id: "replace-#{game.id}", class: "add-btn" %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <div class="flex-flex" style="height: 100vh">
          <p>There are no games in your wishlist.</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
