// Define variables for your color scheme

// For example:
$red: #C1292E;
$blue: #5688C7;
$dirty-blue: #2C5784;
$yellow: #F2AF29;
$orange: #E67E22;
$green: #A2D729;
$gray: #0E0000;
$light-gray: #E6E6E6;
$brown-black: #241715;
$black: #170A1C;
$dark-mode: #404c6c;
$darker-mode: #212738;
