<div data-controller="search">
  <%= simple_form_for :search, url: search_games_path, method: :get, html: {
  data: {
    controller: "search",
    action: "keyup->search#suggestions",
    suggestions_url: search_suggestions_path,
  }
} do |form| %>
    <div class="search-form-control form-group">
      <%= form.input :query, input_html: {
      data: {
        search_target: "input",
        action: "blur->search#hideSuggestions",
      },
      class: "form-control",
      placeholder: "Search games...",
      autocomplete: "off"
    }, label: false %>
      <%= form.submit "Search", class: "search-btn" %>
    </div>
    <div id="suggestions" class="search-box" data-search-target="suggestions" data-action="mousedown->search#childClicked">
      <%= render partial: "search/suggestions", locals: { results: results } %>
    </div>
  <% end %>
</div>
