<div data-controller="search">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="fluid-container">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "GD.png" %>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <% if user_signed_in? %>
        <div class="search-form-control form-group mb-0" id="search-form" >
          <%= render partial: 'search/form', locals: { results: [] } %>
        </div>
      <% end %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <%= render 'shared/menu' %>
      </div>
    </div>
  </div>
  <div data-search-target="results"></div>
</div>
<div id="serach-results">
</div>
