<div class="landingpage">
  <div class="hero-banner">
    <div class="hero-text">
      <%= link_to "Join now!", new_user_registration_path, class: "join-btn"  %>
      <div class="landing-text">
        <h2>Organize your games collection!</h2>
        <p>You're a video games collector, and you always struggle to remember
          what games are in your collection? Did you ever bought multiple copies of one game, just because you can't
          remember if it's already on your sheves?
          <br>
          Join our app, and keep your whole video game collection in your pocket!</p>
      </div>
    </div>
  </div>
</div>
