<div class="landingpage">
  <div class="hero-banner">
    <div class="hero-text">
      <%= link_to "Join now!", new_user_registration_path, class: "join-btn"  %>
      <div class="landing-text">
        <h2>Organize your games collection!</h2>
        <p>You're a video games collector, and you always struggle to remember
          what games are in your collection? Did you ever bought multiple copies of one game, just because you can't
          remember if it's already on your sheves?
          <br>
          Join our app, and keep your whole video game collection in your pocket!</p>
      </div>
    </div>
  </div>
  <div class="features">
    <div class="feature">
      <h3>Organize your collection</h3>
      <i class="fa-solid fa-rectangle-list fa-lg"></i>
      <p>Keep track of all your games, and never buy the same game twice!</p>
    </div>
    <div class="feature">
      <h3>Review your games</h3>
      <i class="fa-solid fa-keyboard fa-lg"></i>
      <p>Share your thoughts with other users, and see what they think!</p>
    </div>
    <div class="feature">
      <h3>Discover new games</h3>
      <i class="fa-solid fa-magnifying-glass fa-lg"></i>
      <p>Discover new games, and add them to your wishlist!</p>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
