.form-container {
  background-color: $dark-gray;
  color: $light-gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  min-height: 50vh;
  width: 50%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1), -10px -10px 10px rgba(0, 0, 0, 0.1);
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 16px;
  margin-bottom: 16px;

  h2 {
    margin-bottom: 2rem;
    text-align: center;
  }
}


.radio-button-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.radio-inline {
  display: flex;
  align-items: flex-start;
}

.radio-inline input[type="radio"] {
  margin-right: 5px;
}

.radio-input {
  margin-right: 5px;
}

.form-input {
  background-color: $light-gray;
  margin-bottom: 32px;
  color: $dark-gray;

  &:focus {
    background-color: $light-gray;
  }
}

.simpler-form {
  width: 80%;
}

.checkbox-group {
  display: flex;
  gap: 15px;
}

.checkbox-inline {
  display: flex;
  align-items: baseline;
  gap: 8px;
}
