    <% if @game.bookmark(current_user).present? %>
  <button class="add-review-btn" type="button" data-insert-review-target='btn' data-bs-toggle="collapse" data-bs-target="#reviewCreate" aria-expanded="false" aria-controls="reviewCreate">
    Add a Review
  </button>
  <div class="collapse" id="reviewCreate">
    <div class="card card-body">
      <%= simple_form_for [@game, @review], data: { action: 'submit->insert-review#create', insert_review_target: 'form' } do |f| %>
        <%= f.input :rating, collection: 1..10, input_html: { class: "form-input" } %>
        <%= f.input :content, input_html: { class: "form-input" } %>
        <%= f.submit 'Submit', class: 'btn btn-info mt-2' %>
      <% end %>
    <% end %>
  </div>
